# PostgreSQL
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme

# RabbitMQ
RABBITMQ_USER=changeme
RABBITMQ_PASSWORD=changeme
RABBITMQ_ERLANG_COOKIE=changeme-generate-with-openssl-rand-base64-48

# JWT
JWT_ISSUER=ecommerce-microservices
JWT_AUDIENCE=ecommerce-microservices
JWT_KEY=changeme-generate-with-openssl-rand-base64-48
JWT_EXPIRES_MINUTES=60

# Admin seed (created on AuthService startup if set)
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=changeme

# ApiGateway
GATEWAY_PORT=8000
